In [1]:
import numpy as np
import pandas as pd

In [10]:
from IPython.core.display_functions import display

csv_filename = '2023-02-06-강제추행,강제범,실내.csv'
df = pd.read_csv(csv_filename, encoding='utf8', low_memory=False)
pd.set_option('display.max_columns', None)
display(df.head())
display(df.tail())

,fileSize,duration,audio_id,area_start,area_end,category_01,category_02,category_03,note,audioType,gender,generation,dialect
0,184382,2.09,2.강도범죄_352380_label,0.045,2.455,치안안전,강도범죄,남_치안안전_죽고싶어_입막음소리,죽을래,voice,male,adult,standard
1,184382,2.09,2.강도범죄_352512_label,0.045,2.805,치안안전,강도범죄,여_치안안전_죽고싶어_입막음소리,죽고싶어,voice,female,adult,standard
2,184382,2.09,2.강도범죄_352620_label,0.045,2.575,치안안전,강도범죄,남_치안안전_죽고싶어_입막음소리,죽을래,voice,male,adult,standard
3,184382,2.09,2.강도범죄_352838_label,0.045,2.925,치안안전,강도범죄,여_치안안전_죽고싶어_입막음소리,죽여버린다,voice,female,adult,standard
4,184382,2.09,2.강도범죄_352869_label,0.045,2.685,치안안전,강도범죄,남_치안안전_죽고싶어_입막음소리,죽고싶어,voice,male,adult,standard

,fileSize,duration,audio_id,area_start,area_end,category_01,category_02,category_03,note,audioType,gender,generation,dialect
71565,18003572,102.061,15.실내_915418_label,3.0,99.061,일반(정상),실내,실내_주방,전자레인지소리,sound,NaN,NaN,NaN
71566,19260428,100.314,15.실내_892249_label,3.0,97.315,일반(정상),실내,실내_공통,악기 이용 소리,sound,NaN,NaN,NaN
71567,19641972,111.349,15.실내_915841_label,3.0,108.349,일반(정상),실내,실내_주방,기름튀기는 소리,sound,NaN,NaN,NaN
71568,20784140,108.250,15.실내_918360_label,3.0,105.251,일반(정상),실내,실내_화장실,얼굴을씻는소리,sound,NaN,NaN,NaN
71569,37628752,426.629,15.실내_906200_label,3.0,423.629,일반(정상),실내,실내_주방,밥솥 소리,sound,NaN,NaN,NaN

In [13]:
df.groupby('category_02')['audio_id'].count()
# 카테고리_02를 통해 분류해야할 듯

category_02
강도범죄         19490
강제추행(성범죄)    20925
실내           31155
Name: audio_id, dtype: int64

In [20]:
df.groupby('category_03')['audio_id'].count()
# 종류가 너무 많음

category_03
남_노인_강도범죄_꼼짝 말고 있어_입막음소리      120
남_노인_강도범죄_꼼짝마_입막음소리           115
남_노인_강도범죄_돈 내놔_비명소리           263
남_노인_강도범죄_반항하면 죽는다_입막음소리      121
남_노인_강도범죄_빨리 안 내놔_비명소리        260
                            ...
여_치안안전_죽고싶어_입막음소리            2835
여_치안안전_짜증나게하지마_입막음소리         3971
여_치안안전_추행을 당하는 상황              33
여_치안안전_추행을 당하는 상황_비명 소리     15283
여_치안안전_협박하는상황                 142
Name: audio_id, Length: 72, dtype: int64

In [12]:
df.groupby(['gender'], dropna=False)['audio_id'].count()

gender
female    33187
male       7228
NaN       31155
Name: audio_id, dtype: int64

In [18]:
df.groupby(['dialect'], dropna=False)['audio_id'].count()

dialect
standard    40415
NaN         31155
Name: audio_id, dtype: int64

In [19]:
df.groupby(['generation'], dropna=False)['audio_id'].count()

generation
adult       27239
child         577
senior       6379
teenager     6220
NaN         31155
Name: audio_id, dtype: int64

In [17]:
df[['duration','area_start', 'area_end']].describe()

           duration    area_start      area_end
count  71570.000000  71570.000000  71570.000000
mean      29.929461      4.440673     24.884389
std       20.506703      3.122621     21.044484
min        2.090000      0.045000      2.405000
25%       10.140000      3.000000      6.240000
50%       30.000000      3.700000     13.718000
75%       40.742250      4.000000     38.139000
max      426.629000     18.876500    423.629000

In [22]:
df.groupby('category_02')['duration','area_start', 'area_end'].agg(['mean', 'max', 'min'])
# 실내 duration max가 지나치게 크다

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

              duration                 area_start                   area_end  \
                  mean      max    min       mean      max    min       mean
category_02
강도범죄         14.881141   39.753  2.090   5.824977  18.8765  0.045   8.906141
강제추행(성범죄)    15.377059   30.000  5.360   5.298614   9.0000  2.500   8.150938
실내           49.117416  426.629  6.811   2.998448   5.0000  2.000  46.118974


                  max    min
category_02
강도범죄          22.7865  2.405
강제추행(성범죄)     20.0130  2.860
실내           423.6290  3.811

In [26]:
df[df['category_02'] == '강도범죄'][['duration','area_start', 'area_end']].describe()

           duration    area_start      area_end
count  19490.000000  19490.000000  19490.000000
mean      14.881141      5.824977      8.906141
std       10.405116      4.810202      5.001641
min        2.090000      0.045000      2.405000
25%        7.941000      3.000000      5.330500
50%        9.456000      3.156500      6.678250
75%       19.551000      8.775500     11.632750
max       39.753000     18.876500     22.786500

In [27]:
df[df['category_02'] == '강제추행(성범죄)'][['duration','area_start', 'area_end']].describe()

           duration    area_start      area_end
count  20925.000000  20925.000000  20925.000000
mean      15.377059      5.298614      8.150938
std        8.724041      2.206293      3.396090
min        5.360000      2.500000      2.860000
25%        9.970000      4.000000      5.970000
50%       10.340000      4.000000      6.340000
75%       30.000000      9.000000     12.142000
max       30.000000      9.000000     20.013000

In [25]:
df[df['category_02'] == '실내'][['duration','area_start', 'area_end']].describe()

           duration    area_start      area_end
count  31155.000000  31155.000000  31155.000000
mean      49.117416      2.998448     46.118974
std       13.968318      0.939683     13.974351
min        6.811000      2.000000      3.811000
25%       36.600000      2.000000     33.300000
50%       42.953000      3.000000     40.367000
75%       64.000000      3.700000     62.000000
max      426.629000      5.000000    423.629000

In [29]:
duration_max = df[df['category_02'] == '강도범죄']['duration'].max()
# 데이터를 조금 잘라보자
df_trun = df[df['duration'] <= duration_max]
df_trun.describe()

           fileSize      duration    area_start      area_end
count  5.258500e+04  52585.000000  52585.000000  52585.000000
mean   2.837601e+06     19.988971      4.953157     14.213203
std    2.460543e+06     12.298020      3.445426     11.162194
min    1.843820e+05      2.090000      0.045000      2.405000
25%    8.679100e+05      9.840000      3.000000      5.990000
50%    9.994380e+05     11.331000      4.000000      7.505500
75%    5.292044e+06     33.158000      4.665500     18.688000
max    1.356017e+07     39.753000     18.876500     37.740000

In [30]:
df_trun.groupby('category_02')['duration','area_start', 'area_end'].agg(['mean', 'max', 'min'])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

              duration                area_start                   area_end  \
                  mean     max    min       mean      max    min       mean
category_02
강도범죄         14.881141  39.753  2.090   5.824977  18.8765  0.045   8.906141
강제추행(성범죄)    15.377059  30.000  5.360   5.298614   9.0000  2.500   8.150938
실내           36.098737  39.740  6.811   2.962981   5.0000  2.000  33.135761


                 max    min
category_02
강도범죄         22.7865  2.405
강제추행(성범죄)    20.0130  2.860
실내           37.7400  3.811

In [31]:
df_trun.groupby('category_02')['duration','area_start', 'area_end'].quantile([0.25, 0.5, 0.75])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                  duration  area_start  area_end
category_02
강도범죄        0.25   7.94100      3.0000   5.33050
            0.50   9.45600      3.1565   6.67825
            0.75  19.55100      8.7755  11.63275
강제추행(성범죄)   0.25   9.97000      4.0000   5.97000
            0.50  10.34000      4.0000   6.34000
            0.75  30.00000      9.0000  12.14200
실내          0.25  36.44125      2.0000  33.30000
            0.50  36.60000      3.3000  33.30000
            0.75  37.40400      3.3000  34.02200